{% extends "base.html.twig" %}

{% block title %}
    Vos réservations
{% endblock %}

{% block body %}
    <div class="container pb-5">
        <h2 class="my-5">Mes réservations</h2>
        <div class="alert alert-primary">
            <p class="h5">Retrouvez ci-dessous la liste de vos réservations :</p>
        </div>

        {% for booking in app.user.bookings %}
            {% set ad = booking.ad %}
            <div class="row mx-1 my-3 p-2 border border-primary rounded-lg">
                <div class="col-md-5">
                    <img src="{{ ad.coverImage }}" alt="Photo de l'annonce {{ ad.title }}" class="img-fluid">

                    <div>
                        {% set comment = ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <strong>Note donnée :</strong> {% include "partials/rating.html.twig" with {'rating': comment.rating} %}
                        {% else %}          
                            Vous n'avez pas encore donné de note : 
                            <a href="{{ path('booking_show', {'id': booking.id})  }}#comment" style="color: goldenrod">
                                <br>
                                Je donne mon avis !
                            </a>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <h4>{{ ad.title }}</h4>
                    <p>
                        Réservation <strong>n° {{ booking.id }}</strong>
                        <br>
                        Du {{ booking.startDate | date('d/m/Y')}} au {{ booking.endDate | date('d/m/Y')}}
                        <br>
                        <strong>({{ booking.amount | number_format(2, ',', ' ') }} &euro;)</strong>
                    </p>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-primary">
                        <i class="fas fa-plus mr-2"></i>
                        Plus d'informations</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}