{% extends "base.html.twig" %}

{% block title %}
    Réservation N° {{ booking.id }}
{% endblock %}

{% block body %}
    {% set ad = booking.ad %}
    {% set author = ad.author %}

    <div class="container pb-5">
        <h2 class="my-5">Votre réservation (n°{{ booking.id }})</h2>

        {% if app.request.query.get('successAlert') %}
            <div class="alert alert-success rounded-lg">
                <h4 class="alert-heading">Bravo !</h4>
                <p class="lead">
                    Votre réservation auprès de 
                    <strong>
                        <a href="{{ path('user_show', {'slug': author.fullName}) }}">{{ author.fullName }}</a>
                    </strong>
                    pour l'annonce 
                    <strong>
                        <a href="{{ path('ads_show', {'slug': ad.title}) }}">{{ ad.title }}</a>
                    </strong>
                    a bien été prise en compte !
                </p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="alert alert-primary rounded-lg">
                    <h3 class="alert-heading mb-4">Votre réservation</h3>
                    <dl class="row">
                        <dt class="col-xs-12 col-md-6">Numéro</dt>
                        <dd class="col-xs-12 col-md-6">{{ booking.id }}</dd>
                        <dt class="col-xs-12 col-md-6">Date d'arrivée</dt>
                        <dd class="col-xs-12 col-md-6">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-xs-12 col-md-6">Date de départ</dt>
                        <dd class="col-xs-12 col-md-6">{{ booking.endDate | date('d/m/Y') }}</dd>
                        <dt class="col-xs-12 col-md-6">Nombre de nuits</dt>
                        <dd class="col-xs-12 col-md-6">{{ booking.duration }}</dd>
                        <dt class="col-xs-12 col-md-6">Montant total</dt>
                        <dd class="col-xs-12 col-md-6">{{ booking.amount | number_format(2, ',', ' ')}} &euro;</dd>
                        <dt class="col-xs-12 col-md-6">Commentaire</dt>
                        <dd class="col-xs-12 col-md-6">{{ booking.comment | default('Aucun commentaire') }}</dd>
                    </dl>

                    <hr style="border: 1px solid white;" class="w-50">

                    <h3 class="alert-heading">Votre hôte</h3>
                    <div class="row align-items-center text-center mb-3">
                        <div class="col-3">
                            <img src="{{ author.picture }}" class="avatar avatar-medium" alt="Avatar de {{ author.fullName }}">
                        </div>
                        <div class="col-9">
                            <h5>
                                <a href="{{ path('user_show', {'slug': author.slug}) }}">{{ author.fullName }}</a>
                            </h5>
                            <span class="badge badge-pill badge-success" style="font-size: 100%;">{{ author.ads | length }} annonce(s)</span>
                        </div>
                    </div>
                    <div class="lead">
                        {{ author.description | raw }}
                    </div>
                    <div class="text-center">
                        <a href="{{ path('user_show', {'slug': author.slug}) }}" class="btn btn-secondary">
                            <i class="fas fa-plus mr-2"></i>
                            En savoir plus sur <strong>{{ author.firstName }}</strong>
                        </a>
                    </div>
                </div>

                <div class="alert alert-primary rounded-lg" id="comment">
                    <h3 class="alert-heading">Votre avis compte !</h3>
                    {% if date() > date(booking.endDate) %}
                        {% set comment = booking.ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <blockquote>
                                {{ comment.content | raw }}
                            </blockquote>
                            <strong>Note : </strong> {% include "partials/rating.html.twig" with {'rating': comment.rating} %}
                        {% else %}
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_widget(form) }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check mr-2"></i>
                                    Confirmer !
                                </button>
                            </div>
                            {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                        <p>Vous ne pourrez pas noter cette annonce tant que votre voyage ne sera pas terminé !</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="alert alert-primary rounded-lg">
                    <h3 class="alert-heading mb-4">Votre hébergement</h3>

                    <h5 class="mb-2">
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }}">{{ ad.title }}</a>
                    </h5>

                    <img src="{{ ad.coverImage }}" alt="Image de {{ ad.title }}" class="img-fluid mb-4">

                    <div class="lead">
                        {{ ad.content | raw }}
                    </div>

                    <div class="text-center">
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }} " class="btn btn-secondary">
                            <i class="fas fa-plus mr-2"></i>
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}