{% extends "admin/base.html.twig" %}

{% block title %}
    Modification du commentaire n° {{ comment.id }}
{% endblock %}

{% block body %}
    <div class="container pb-5 mb-3">

        <h3 class="my-5">Modification du commentaire n° {{ comment.id }}</h3>

        <div class="alert alert-primary rounded-lg">
            <div class="mb-2">
                <strong>Annonce liée :</strong><br>
                {{ comment.ad.title }}
            </div>
            <div class="mb-2">
                <strong>Auteur :</strong><br>
                {{ comment.author.fullName }}
            </div>
            <div class="mb-2">
                <strong>Date de création :</strong><br>
                {{ comment.createdAt | date('d/m/Y H:i') }}
            </div>
            <div class="mb-2">
                <strong>Note donnée :</strong><br>
                <span class="badge badge-pill badge-{% if comment.rating <= 2 %}danger{% elseif comment.rating == 3 %}warning{% else %}success{% endif %}" style="font-size: 0.875rem;">
                    {{ comment.rating }}
                </span>
                
            </div>
        </div>

        <div class="alert alert-primary rounded-lg">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            {{ form_widget(form) }}

            <div class="text-center">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check mr-2"></i>
                    Enregistrer les modifications
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}