{% extends "base.html.twig" %}

{% block title %}Bienvenue sur le meilleur réseau d'appartements !</sea>{% endblock %} 

{% block body %}
    <div class="container pb-5">
        <div class="jumbotron mt-3">
            <h3>Bienvenue sur Mon BnB !</h3>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location !</p>
            <hr style="border: 1px solid white;" class="w-50 my-4">
            <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochaine déplacement ?</p>
            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">
                    <i class="fas fa-bullhorn mr-2"></i>
                    Voir les annonces
                </a>
            </div>
        </div>

        <h3 class="my-5">Nos appartements stars !</h3>

        <div class="row">
            {% for data in ads %}
                {% include "ad/_ad.html.twig" with {'ad': data.annonce} %}
            {% endfor %}
        </div>

        <h3 class="my-5">Nos propriétaires stars !</h3>

        <div class="row">
            {% for data in users %}
                <div class="col-md-6">
                    <div class="card border-secondary mb-3 rounded-lg">
                        <div class="card-body">
                            <h4 class="card-title mb-5">
                                {{ data.user.fullName }}
                            </h4>

                            <div class="row card-text pb-3 align-items-center">
                                <div class="col-6 text-center">
                                    <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullName }}" class="avatar mr-3">
                                </div>
                                <div class="col-6">
                                    <p>{{ data.user.introduction }}</p>
                                </div>
                            </div>

                            <div class="text-center">
                                <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-primary my-2">
                                    <i class="fas fa-plus mr-2"></i>
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
