{% extends 'admin/base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 bg-primary mb-3">
                <div class="text-white mb-3 text-center">
                    <div class="card-body">
                        <i class="fas fa-users fa-3x"></i>
                        <h4 class="card-title">{{ stats.users }} utilisateurs</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 bg-danger mb-3">
                <div class="text-white mb-3 text-center">
                    <div class="card-body">
                        <i class="fas fa-home fa-3x"></i>
                        <h4 class="card-title">{{ stats.ads }} annonces</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 bg-warning mb-3">
                <div class="text-white mb-3 text-center">
                    <div class="card-body">
                        <i class="fas fa-book fa-3x"></i>
                        <h4 class="card-title">{{ stats.bookings }} réservations</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 bg-success mb-3">
                <div class="text-white mb-3 text-center">
                    <div class="card-body">
                        <i class="fas fa-comments fa-3x"></i>
                        <h4 class="card-title">{{ stats.comments }} avis</h4>       
                    </div>
                </div>
            </div>
        </div>

        <hr style="border: 1px solid white" class="w-50">

        <div class="row">
            <div class="col-xs-12 col-lg-6 bg-success mb-3">
                <h3 class="alert-heading my-3">
                    <i class="fas fa-arrow-up mr-2"></i>
                    Les annonces populaires
                </h3>

                <div class="table-responsive-md">
                    <table class="table table-hover text-white">
                        <thead class="thead">
                            <tr>
                                <th>Annonce</th>
                                <th>Proprio</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in bestAds %}
                            <tr>
                                <td>{{ ad.title }}</td>
                                <td>
                                    <img src="{{ ad.picture }}" alt="Avatar de {{ ad.firstName }} {{ ad.lastName }}" class="avatar avatar-mini">
                                    {{ ad.firstName }} {{ ad.lastName }}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-info">
                                        {{ ad.note | number_format(1, ",", " ") }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 bg-danger mb-3">
                <h3 class="alert-heading my-3">
                    <i class="fas fa-arrow-down mr-2"></i>
                    Les pires annonces
                </h3>

                <div class="table-reponsive-md">
                    <table class="table table-hover text-white">
                        <thead class="thead">
                            <tr>
                                <th>Annonce</th>
                                <th>Proprio</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in worstAds %}
                            <tr>
                                <td>{{ ad.title }}</td>
                                <td>
                                    <img src="{{ ad.picture }}" alt="Avatar de {{ ad.firstName }} {{ ad.lastName }}" class="avatar avatar-mini">
                                    {{ ad.firstName }} {{ ad.lastName }}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-info">
                                        {{ ad.note | number_format(1, ",", " ") }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
