{# _[NOM]_[WIDGET] permet de modifier la sortie de form_widget() pour un champ donné (ici le champ "ad_images") #}
{% block _ad_images_widget %}
    <div class="alert alert-dark">
        <strong>Ici, vous pouvez ajouter vos propres images !</strong>
    </div>

    {# Attention ici la variable "form" ne représente pas le formulaire dans sa globalité mais uniquement un champ donné du formulaire (ici le champ "ad_images") #}
    {{ form_widget(form) }}

    {# On ajoute un input caché qui incrémentera l'id des images ajoutées (en JavaScript) afin d'éviter les doublons d'id si on supprime une image et qu'on en recréé une nouvelle #}
    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-secondary">
            <i class="fas fa-plus mr-2"></i>
            Ajouter une image
        </button>
    </div>
{% endblock %}

{# On demande à Twig de n'afficher, pour chaque ligne (row) du champ "ad_images", que le "widget" (et non pas le label + widget + error + help qui sont normalement contenus dans une "row") #}
{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{# _[NOM]_[ENTRY]_[WIDGET] permet de modifier la sortie de chaque entrée (Entry = itération) de la collection #}
{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-sm-8 col-lg-10">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        {# Attention ici la variable "form" représente une entrée (ici l'entrée "url") #}
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>    
                </button>
            </div>  
        </div>
    </div>
{% endblock %}