{% extends "base.html.twig" %}

{% block title %}
    Modification d'une annonce
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Modifier l'annonce : {{ ad.title }}</h2>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(form) }}

        <div class="pb-5 mb-3 text-center">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check mr-2"></i>
                Enregistrer les modifications
            </button>
        </div>
        {{ form_end(form) }}
    </div>  
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ad') }}
{% endblock %}