{% extends "base.html.twig" %}

{% block title %}
    Modification d'une annonce
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier l'annonce {{ ad.title }}</h1>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>

        {{ form_end(form) }}
    </div>  
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ad') }}
{% endblock %}